html
    margin: 15px auto
    padding: 0px
    body
        justify-content: center
        align-items: center
        display: flex
        height: 100%
        background: #06a9c1
        background: -webkit-linear-gradient(to top, #05a7c4, #0dada3, #05a7c4)
        background: linear-gradient(to top, #05a7c4, #0dada3, #05a7c4)
        .boxed
            background: white
            border-radius: 7px
            box-shadow: 0 0 4px rgba(0,0,0,0.6)
            padding: 0px
            overflow: hidden
            .navTop
                border-bottom: 2px solid #ededed
                display: flex
                justify-content: space-between
                align-items: center
                height: 70px
                a
                    font-family: 'Open Sans', sans-serif
                    color: #2c84e9
                    text-decoration: none
                    transition: all .2s ease-in-out
                    &:hover
                        color: #236ABC
                    &.exit
                        margin-right: 15px
                        img
                            width: 20px
                            height: 20px
                nav
                    font-family: 'Open Sans', sans-serif
                    height: 100%
                    display: flex
                    a
                        color: #9da5c5
                        height: 100%
                        display: flex
                        justify-content: center
                        align-items: center
                        text-decoration: none
                        margin: 0 30px 0 0
                        transition: all .2s ease-in-out
                        &.active
                            color: #2f323a
                            box-shadow: inset 0px -3px #5093e1
                        &:hover
                            color: #5093e1
            .search
                border-bottom: 2px solid #f6f7fa
                display: flex
                justify-content: space-between
                align-items: center
                a
                    margin-left: 15px
                    margin-right: 8px
                    img
                        height: 32px
                        width: 32px
                div
                    padding: 0px
                    display: contents
                    img
                        height: 22px
                        width: 22px
                        margin-right: 12px
                    input
                        border: none
                        width: calc(100% - 45px)
                        padding: 15px 0
                        font-family: 'Open Sans', sans-serif
                        font-weight: 400
            .left
                font-family: 'Open Sans', sans-serif
                span
                    font-weight: bold
                    text-transform: uppercase
                    font-size: 11px
                    margin: 15px 0
                    display: block
                .table-responsive
                    margin-left: -15px
                    margin-right: -15px
                    tr
                        border-top: 2px solid #f6f7fa
                        td
                            font-weight: 400
                            font-size: 12px
                            color: #64676c
                            vertical-align: middle
                            padding: 10px 0px 10px 15px
                            border-top: none
                            .radioCheckbox
                                border: 1px solid #eff0f1
                                display: inline-block
                                border-radius: 6px
                                cursor: pointer
                                .hide-checkbox + label
                                    display: block
                                    float: left
                                    padding: 5px 10px
                                    text-align: center
                                    background-color: #fff
                                    color: #64676c
                                    border-radius: 5px
                                    -webkit-transition: background-color 0.2s ease-in-out
                                    -moz-transition: background-color 0.2s ease-in-out
                                    -o-transition: background-color 0.2s ease-in-out
                                    transition: background-color 0.2s ease-in-out
                                    margin-bottom: 0px
                                    font-weight: 400
                                .hide-checkbox:checked + label
                                    display: inline-block
                                    background-color: #2c7edc
                                    color: #fff
                            img
                                width: 22px
                                height: 22px
                                &:hover
                                    opacity: 0.6
                            &:first-child
                                padding-right: 15px
                        &:nth-child(n+2)
                            td
                                padding: 13px 0 13.25px 15px
                        &:nth-child(-n+4)
                            td:last-child
                                text-align: center
                        &:first-child
                            border: none
                        &:nth-child(5)
                            td:first-child
                                vertical-align: top
            .right
                font-family: 'Open Sans', sans-serif
                border-left: 2px solid #f6f7fa
                .flexin
                    display: flex
                    justify-content: space-between
                    align-items: center
                span
                    font-weight: bold
                    text-transform: uppercase
                    font-size: 11px
                    margin: 15px 0
                    display: block
                .rightTables
                    color: #c3c7cf
                    margin-right: 10px
                .table-responsive
                    margin-left: -15px
                    margin-right: -15px
                    tr
                        border-top: 2px solid #f6f7fa
                        td
                            font-weight: 400
                            font-size: 12px
                            color: #64676c
                            vertical-align: middle
                            padding: 12.7px 0px 12px 15px
                            border-top: none
                            span
                                display: inline-block
                                font-weight: 400
                                text-transform: none
                                margin: 0 40px 0 0
                                img
                                    height: 10px
                                    width: 10px
                                    position: relative
                                    margin-left: 2px
                            img
                                height: 22px
                                width: 22px
                            .filtering
                                margin: 0 2px
                                background: #2c7edc
                                color: #fff
                                padding: 4px 7px
                                border-radius: 11px
                                display: inline-flex
                                justify-content: center
                                align-items: center
                                &:nth-child(1)
                                    margin-left: 10px
                                img
                                    margin-left: 4px
                                    height: 9px
                                    width: 9px
                            table
                                width: calc(100% - 15px)
                                td:first-child
                                    font-weight: 700
                                    color: #2c7edc
                            table, td, th, tr
                                border: none
                                transition: all 0.2s ease-in-out
                                th
                                    font-weight: 400
                                    color: #9da5c3
                                    margin: 0 auto
                                    padding: 8px 8px 16px 8px
                                td
                                    padding: 8px
                                    color: #64676c
                                    background-color: #f6f7fa
                                    &:last-child
                                        img
                                            visibility: hidden
                                            width: 20px
                                            height: 20px
                                tr
                                    margin: 5px auto
                                    border-top: 5px solid white
                                    border-bottom: 5px solid white
                                    border-radius: 4px
                                    &:hover
                                        td
                                            background-color: #50c14e
                                            color: white
                                            &:last-child
                                                img
                                                    visibility: visible
                                                    width: 20px
                                                    height: 20px
                        &:first-child
                            border: none
            .bottom
                background-color: #f6f7fa
                padding: 15px 20px
                text-align: right
                button
                    background-color: white
                    border: 1px solid #e1e3e4
                    padding: 6px 8px
                    border-radius: 6px
                    text-transform: uppercase
                    font-size: 10px
                    font-weight: 600
                    font-family: 'Open Sans', sans-serif
                    letter-spacing: 1px
                    color: #9da5c5
                    transition: all .2s ease-in-out
                    &:hover
                        color: #2c7ee0
                        border-color: #2c7ee0
                    &:nth-child(2)
                        color: #2c7ee0
                        &:hover
                            background-color: #2c7ee0
                            color: white
                            border-color: #2c7ee0
.rotated
    img
        -webkit-transform: rotate(180deg)
        -moz-transform: rotate(180deg)
        -ms-transform: rotate(180deg)
        -o-transform: rotate(180deg)
        transform: rotate(180deg)
@media screen and (max-width: 991px)
    .search
        margin-bottom: 15px
@media screen and (max-width: 767px)
    html body .boxed .left .table-responsive, html body .boxed .right .table-responsive
        border: none
        margin-left: 0
        margin-right: 0
@media screen and (max-width: 365px)
    html body .boxed .navTop nav a
        margin-right: 6px
    html body .boxed .navTop a.exit
        margin-right: 0
    html body .boxed .right .table-responsive tr td span
        display: block
        margin: 8px 0px